<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			Yummy recipes
		</title>
		
		<link href="../static/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/css/style.css" rel="stylesheet">
		
		<style>
		body
		{
			padding-top: 50px;
		}
		
		</style>
		
		
	</head>
	
	<body data-spy="scroll" data-target="#my-navbar">
		
		<!-- Nav bar -->
		<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="buton" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" style="border:1px #fff solid;">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<a href="#" class="navbar-brand"><img src="../static/images/recipe-logo.png"></a>
					
				</div> <!-- end header -->
				<div class="collapse navbar-collapse" id="navbar-collapse">
					
					<ul class="nav navbar-nav navbar-right">
                        <li class=""><a href="#">Firstname Lastname<span class="sr-only">(current)</span></a></li>
                        <li class=""><a href="#">Add recipes<span class="sr-only">(current)</span></a></li>
						<li class="active dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Edit profile</a></li>
								<li><a href="#">My recipes </a></li>
								<li role="separator" class="divider"></li>
                                <li><a href="/logout">Log out</a></li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-right">
						<div class="form-group has-feedback ">
							<input type="text" class="form-control searcher" placeholder="Search" />
							<i class="glyphicon glyphicon-search form-control-feedback"></i>
						</div>
					</form>
					
				</div>
			</div><!-- end container -->
		</nav><!-- end navbar -->
		
		<div class="container wrapper">
			<section>

                <div class= "row">

                    
					<div class="col-md-6">
						<div class="media-wrapper">
							<div class="media">
								<a class="media-left" href="#">
									<img src="../static/images/user.png">
								</a>
								<div class="media-body">
                                    <a href="" class=""><h5 class="media-heading">Firstname Lastname</h5></a>
									<div class="post-content">
                                        <h4 class="media-heading">Recipe name</h4>
										<div class="item-details">
                                            <ul>
												<li>item 1</li>
												<li>item 2</li>
												<li>item 3</li>
												<li>item 4</li>
											</ul>
										</div>
									</div>
									<div class="timing">
										<span class="pull-right posted-date">Posted: dd/mm/yyyy</span>
									</div>
								</div>
								
							</div>
							<div class="comments">
								<p class="pull-right">
									<a class="">Comment</a>
								</p>
							</div>
						</div>
						
					</div>
                </div>

					
				</div>
			</section>
		</div>
		<script src="../static/js/jquery.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		
	</body>
	
</html>
